*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  background-image: linear-gradient(to right, rgb(119, 119, 243),rgb(236, 236, 215),rgb(97, 97, 239));
    
        
}

.caixa-maior{
    background:black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 40px);
}

.botao-buscar{
border: none;
outline: none;
padding: 10px;
border-radius: 50px;
background-color: #7c7c7c2b;
cursor: pointer;
float: right;
}

.img-buscar{
    width: 15px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade{
    color: white;
    font-size: 30;
    font-weight: 350;
    }

.temp{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: white;
    margin-top: 20px;
}


